{% extends 'base.html' %}
{% block content %}
<div class="card" style="width:100%;">
    <div class="card-body">
      <h5 class="card-title">Sign up</h5>
      {% if error %}
        <div class="alert alert-danger mt-3" role="alert">
            {{ error }}
        </div>
      {% endif %}
      <h6 class="card-subtitle mb-2 text-muted">form</h6>
      <form method="post">
        {% csrf_token %}
        {{ form.as_p }} <br/>
      <button type="submit" class="btn btn-primary">Sign Up</button>
      </form>
    </div>
  </div>
{% endblock content %}